<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.generator.mapper.PetMapper">

    <resultMap id="BaseResultMap" type="com.zk.petclinic.domain.Pet">
            <id property="id" column="id" />
            <result property="owner_id" column="owner_id" />
            <result property="name" column="name" />
            <result property="type" column="type" />
            <result property="breed" column="breed" />
            <result property="birth_date" column="birth_date" />
            <result property="weight" column="weight" />
            <result property="gender" column="gender" />
            <result property="avatar" column="avatar" />
            <result property="medical_history" column="medical_history" />
            <result property="allergy" column="allergy" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_id,name,type,breed,birth_date,
        weight,gender,avatar,medical_history,allergy,
        create_time,update_time
    </sql>
</mapper>
